@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-scroll::-webkit-scrollbar {
    display: none;
}

.bg-slate{
    background-color: rgb(148 163 184 );
}

.galery{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-auto-rows:300px;
}

.gradient-nav{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
}

@media (max-width: 1300px) {
    .galery{
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-auto-rows:20vw;
    }
}

@media (max-width: 600px) {
    .galery{
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-auto-rows:40vw;
    }
}

@media (min-width: 1280px) {
    .dropdown-list {
        
        position: absolute;
        top: 0.8rem;
        right: 4rem;
        min-width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 10;
        display: none;
        visibility: visible;  
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;
        -ms-right: 4.5rem;
        /* Add this line */
    }
    
    .dropdown-list::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

<<<<<<< HEAD
    .dropdown-container {
    position: relative;
    }

    .dropdown-container.active .dropdown-list {
        display: block;
    }
=======

.dropdown-container {
position: relative;
}

.dropdown-container.active .dropdown-list {
    display: block;
  
  }
>>>>>>> 2c395e77ad1deb0f0e5e1bc070a6512ea23e31d9
}

@media (max-width: 1280px) {
    .dropdown-list {
        
        position: absolute;
        top: 1.75rem;
<<<<<<< HEAD
        right: 4rem;
=======
        right: 3.39rem;
>>>>>>> 2c395e77ad1deb0f0e5e1bc070a6512ea23e31d9
        width: 76%;
        height: 180px;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 10;
        display: none;
        visibility: visible;  
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;
        /* Add this line */
    }

    .dropdown-list::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .searchBarTel {
        color: black;
        top: 4.5rem;
        right: 3.5rem;   
    }
    .searchBarButton {
        top: 4.5rem;
        height: 32px;
        width: 32px;
    }

.dropdown-list li {
        font-size: medium;
        color: black; /* Adjust the color to your preference */
    }

.dropdown-container {
position: relative;
}

.dropdown-container.active .dropdown-list {
    display: block;
    color:blue;
  }
}