{% extends 'base.html' %}

{% block title %}

<title>Cabinet Școlar de Asistență Psihopedagogică</title>

{% endblock title %}

{% block content %}

<h1 class="font-noto w-[100vw] font-semibold text-[#123] flex justify-center text-4xl pt-24">
    Cabinet Școlar de Asistență Psihopedagogică
</h1>
<div class="w-[100vw] min-h-[80vh] flex flex-col items-center my-10">
    <div class="md:w-[80vw] w-[90vw]">
        <h1 class="font-noto md:text-3xl text-2xl text-center">
            Cabinetul de Asistență Psihopedagogică oferă consiliere individuală și/sau de grup  pentru elevi, asistență pentru părinţi și cadre didactice.
        </h1>
        <br>
        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
            Servicii oferite:
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
            <p></p>
            <b>Consiliere și asistență psihopedagogică individuală și de grup pentru elevi, pe diverse teme:</b>
            <p>➢ autocunoaştere şi dezvoltare personală;</p>
            <p>➢ dezvoltarea/îmbunătățirea abilităților de relaționare;</p>
            <p>➢ managementul învățării și al timpului;</p>
            <p>➢ managementul stresului;</p>
            <p>➢ managementul emoțiilor;</p>
            <p>➢ educație pentru un stil de viață sănătos și prevenirea comportamentelor cu risc;</p>
            <p>➢ orientare şcolară şi profesională/consilierea carierei;</p>
            <p>➢ cerințe educative speciale.</p>
            <br>
            <b>Consultanță și asistență psihopedagogică pentru părinți, în scopul:</b>
            <p>➢ cunoașterii și înțelegii nevoilor și comportamentelor copiilor;</p>
            <p>➢ identificării factorilor de risc în integrarea familială, școlară și socială;</p>
            <p>➢ ameliorării relației părinte-copil;</p>
            <p>➢ consultării altor instituții pentru probleme care necesită sprijin suplimentar – centre logopedice, comisii de expertiză, cabinete medicale, cabinete psihologice etc.;</p>
            <br>
            <b>Consultanță și asistență psihopedagogică pentru cadrele didactice, în scopul:</b>
            <p>➢ cunoașterii și înțelegerii nevoilor și comportamentelor elevilor;</p>
            <p>➢ oferirii de sprijin metodologic pentru realizarea orelor de consiliere și orientare;</p>
            <p>➢ identificării factorilor implicați în inadaptarea și insuccesul școlar;</p>
            <p>➢ sprijinirii elevilor cu cerințe educative speciale.</p>
        </div>

        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
            Profesori consilieri:
        </h1>
        
        <div class="grid grid-cols-3 mt-6 gap-10">
            <div class="border-2 border-zinc-400 rounded-3xl min-h-[10vh]">
                <h1 class="font-noto md:text-3xl text-2xl text-[#762424] flex justify-center">
                    Pentru ciclul primar:
                </h1>
                <div class="indent-4 my-4 md:text-lg text-base mx-3">
                    <p>Flueraș Adina:</p>
                    <p>➢ email: fluerasadina@colegiulbanatean.ro</p>
                    <!-- <br> -->
                    <p>Bunei Alina:</p>
                    <p>➢ email: alina.bunei@cjraetm.ro</p>
                </div>
            </div>
            <div class="border-2 border-zinc-400 rounded-3xl min-h-[10vh]">
                <h1 class="font-noto md:text-3xl text-2xl text-[#762424] flex justify-center">
                    Pentru ciclul gimnazial: 
                </h1>
                <div class="indent-4 my-4 md:text-lg text-base mx-3">
                    <br>
                    <p>Flueraș Adina:</p>
                    <p>➢ email: fluerasadina@colegiulbanatean.ro</p>
                </div>
            </div>
            <div class="border-2 border-zinc-400 rounded-3xl min-h-[10vh]">
                <h1 class="font-noto md:text-3xl text-2xl text-[#762424] flex justify-center">
                    Pentru ciclul liceal:
                </h1>
                <div class="indent-4 my-4 md:text-lg text-base mx-3">
                    <br>
                    <p>Loth Adela:</p>
                    <p>➢ email: lothadela@colegiulbanatean.ro</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}