{% extends 'base.html' %}

{%block title%}
<title>404</title>
{%endblock title%}


{% block content %}

  <link rel="icon" type="image/x-icon" href="./assets/WhatsApp Image 2023-05-28 at 22.23.49.jpeg">
</head>
<body >
    <div class="h-[100vh] w-[100vw] flex flex-col justify-center items-center bg-center bg-no-repeat" style="background-image: url(./assets/WhatsApp\ Image\ 2023-05-27\ at\ 19.28.49.jpg);"><!--  -->
        <p class="text-[10vw] text-white">404</p>
    </div>

{% endblock content%}