{% extends 'base.html' %}

{% block title %}
    <title>Creare proiect</title>
{% endblock title %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="w-[100vw] min-h-[100vh] grid grid-cols-2 pt-[80px]">
    <form class="flex flex-col items-center gap-4" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="emblema" style="display: none;">
        <label for="file">
            <img class="w-[30vh] h-[30vh]" id="preview-image" src="https://bit.ly/3ubuq5o" alt="">
        </label>
        <input type="text" name="titlu" class="p-4 border-2 rounded-3xl" placeholder="Adaugă titlu">
        <div id="paragraphs-container">
            <div class="paragraph-input">
                <input type="text" name="subtitlu[]" class="p-4 border-2 rounded-3xl" placeholder="Adaugă subtitlu">
                <input type="text" name="paragraf[]" class="p-4 border-2 rounded-3xl" placeholder="Adaugă paragraf">
            </div>
        </div>
        <button id="add-input-button" class="p-4 border-2 rounded-3xl" type="button">Add More</button>
        <fieldset class="text-center">
            <legend class="mx-auto">Selectare tip proiect</legend>
            <select id="project-type" name="tip" class="p-4 border-2 rounded-3xl">
                <option value="Proiect școlar">Proiect școlar</option>
                <option value="Activități extrașcolare">Activități extrașcolare</option>
            </select>
        </fieldset>
        <div id="image-preview-container" class="flex flex-wrap justify-center gap-4"></div>
        <div class="flex relative w-[100%] h-20 items-center">

            <input type="file" id="files" name="poze[]" multiple style="display: none;">
    
            <label class="absolute right-[calc(50%+100px)]" for="files">
                <button id="browse-button" class=" p-4 border-2 rounded-3xl" type="button">Browse</button>
            </label>

            <button class="absolute right-[calc(50%-181px)] p-4 border-2 rounded-3xl flex justify-center items-center" type="submit">Creare</button>
        </div>

    </form>
    <div class="text-3xl">
        <p>Numele documentelor se va modifica la afisare astfel:<br> caracterul "_" nu se fa afisa, dar restul numelui va ramane la fel.</p>
    </div>
</div>
<script src="./static/test.js"></script>

{% endblock content %}