{% extends 'base.html' %}

{% block title %}

<title>Cabinet logopedic interșcolar</title>

{% endblock title %}

{% block content %}

<h1
      class="font-noto w-[100vw] font-semibold text-[#123] flex justify-center text-4xl pt-24"
    >
      Cabinet logopedic interșcolar
    </h1>
    <div class="w-[100vw] min-h-[80vh] flex flex-col items-center my-10">
      <div class="md:w-[80vw] w-[90vw]">
        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
          Scurt istoric
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
          <p>Cabinetul logopedic interşcolar de pe lângă Colegiul Naţional Bănăţean (CLI-CNB), a
          fost înfiinţat în anul şcolar 2005 – 2006 şi, este o structură a învăţământului special integrat,
          finanţat, coordonat, monitorizat şi evaluat de Centrul Judeţean de Resurse şi Asistenţă
          Educaţională - Timiş (CJRAE-Timiş), cu punct de lucru în CNB. Cabinetul logopedic deserveşte
          copiii/elevii cu cerinţe educative speciale, care prezintă tulburări de limbaj şi de comunicare,
          precum şi dificultăţi de învăţare specifice. Activitatea desfăşurată, constă în terapia tulburărilor
          de limbaj şi de comunicare, precum şi în elaborarea şi realizarea unor programe/proiecte
          specifice, corespunzătoare principalelor disfuncţionalităţi ale limbajului şi comunicării. Astfel,
          pe tot parcursul, de la înfiinţare şi până în prezent, au păşit pragul cabinetului logopedic din
          Colegiul Naţional Bănăţean peste 800 de preşcolari şi elevi din clasele primare.
          În competenţa profesorului logoped din cadrul CLI intră următoarele tulburări de limbaj
          şi de comunicare:</p>
          <br>
          <p>a) tulburările de pronunţie/articulare (toate tipurile de dislalie);</p>
          <p>b) tulburările de ritm şi fluenţă a vorbirii (balbismul);</p>
          <p>c) tulburările limbajului scris-citit (dislexie – disgrafie, discalculie);</p>
          <p>d) tulburările de dezvoltare a limbajului (întârziere în dezvoltarea limbajului);</p>
          <p>e) tulburările de voce;</p>
          <p>f) alte tulburări de limbaj care influenţează negativ adaptarea şcolară şi socială a copiilor.</p>
        
          </div>
        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
          Activitatea desfăşurată în CLI are următoarele obiective:
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
          <p>a) depistarea, evaluarea şi identificarea tulburărilor de limbaj şi de comunicare la copiii
          preşcolari înscrişi sau nu în grădiniţe şi la şcolarii mici;</p>
          <p>b) asigurarea caracterului preventiv al activităţii de terapie logopedică, prin acordarea
          unei atenţii prioritare copiilor preşcolari cu tulburări de limbaj înscrişi în grădiniţe, în scopul
          prevenirii instalării dificultăţilor de învăţare a scrisului şi cititului la vârsta şcolară;</p>
          <p>c) orientarea terapiei logopedice spre corectare, recuperare, compensare, adaptare şi
          integrare şcolară şi socială;</p>
          <p>d) corectarea tulburărilor de limbaj şi de comunicare în vederea diminuării riscului de
          eşec şcolar;</p>
          <p>e) sprijinirea cadrelor didactice în abordarea personalizată a copiilor/elevilor cu tulburări
          de limbaj şi comunicare.</p>
        </div>

        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
          Activitatea de îndrumare logopedică a cadrelor didactice
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
          <p>Activitatea de îndrumare logopedică a cadrelor didactice din învăţământul preşcolar şi
            primar cu privire la activitatea de intervenţie logopedică se realizează de către profesorul
            logoped din CLI prin:</p>
            <p>a) participarea/organizarea la/unor acţiuni de informare şi consiliere logopedică în
            unităţile şcolare şi preşcolare arondate fiecărui profesor logoped;</p>
            <p>b) acţiuni metodice de îndrumare/consiliere logopedică a cadrelor didactice din şcoli şi
            grădiniţe, în vederea sprijinirii procesului de corectare a tulburărilor uşoare de limbaj;</p>
            <p>c) dezbateri tematice privind importanţa consolidării limbajului în procesul dezvoltării
            generale a copilului, condiţie esenţială a unei integrări şcolare şi sociale optime.</p>
        </div>

        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
          Circumscripţia logopedică:
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
          <p>- Colegiul Naţional Bănăţean – clasele pregătitoare – IV;</p>
          <p>- Grădiniţa cu Program prelungit Nr 14 (cu substructura – Grădiniţa Săptămânală);</p>
          <p>- Grădiniţa cu Program prelungit Nr 31 (sugstructură a Grădiniţei cu Program prelungit
          Nr 23).</p>
          <br>
          <p>Anual, efectivul circumscripţiei logopedice a CLI-CNB, depăşeşte 1.250 preşcolari şi
          elevi.</p>
        </div>

        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
          Legile logopediei
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
          <p>Aceste legi au fost elaborate în scopul delimitării şi consolidării statutului logopediei ca
          ştiinţă şi derivă din obiectivele şi scopurile logopediei, din conţinutul şi problematica
          fenomenelor analizate, din rezultatele cercetărilor întreprinse:</p>
          <p>1.Orice abatere, în formă şi conţinut, de la vorbirea standard, marcată prin disfuncţionalitatea
          expresiei şi a receptivităţii limbajului, constituie o tulburare a acestuia;</p>
          <p>2.Orice tulburare de limbaj are tendinţa de a se agrava şi consolida în timp, ca deprindere
          negativă;</p>
          <p>3.Tulburările de limbaj nu presupun un deficit de intelect sau senzorial, dar atunci când apar
          pe un asemenea fond, ele sunt mult mai grave, mai variate şi mai extinse;</p>
          <p>4.Tulburările de limbaj au o frecvenţă mai mare în copilărie şi în perioadele de constituire a
          limbajului, ca urmare a fragilităţii aparatului fono-articulator şi a sistemelor cerebrale implicate
          în vorbire;</p>
          <p>5.Toate tulburarile de limbaj au un caracter tranzitoriu şi sunt corectabile, educabile prin
          metode specific logopedice şi printr-o serie de procedee cu caracter general;</p>
          <p>6.Tulburările de limbaj, începând cu cele mai simple, produc efecte negative asupra
          personalităţii şi comportamentului subiectului, deoarece ele sunt trăite dramatic şi tensional pe
          fondul unei frustrări şi anxietăţi;</p>
          <p>7.Tulburările de limbaj nu se transmit ereditar, în timp ce unele structuri anatomice care
          facilitează producerea acestora se pot regăsi la descendenţi;</p>
          <p>8.Tulburările de vorbire, pană la vârsta de 3- 3½ ani, nu au o semnificaţie logopedică sau
          defectologică, ci una fiziologică, atunci când sunt produse ca urmare a nematurizării aparatului
          fono-articulator sau a sistemelor cerebrale implicate în vorbire;</p>
          <p>9.Tulburările de limbaj prezintă o incidenţă mai mare şi o simptomatologie mai gravă la
          sexul masculin, comparativ cu cel feminin;</p>
          <p>10.Terapia tulburărilor de limbaj se bazează pe o metodologie corectiv-recuperativă ce se
          realizează în relaţie cu dezvoltarea şi stimularea întregii activităţi psihice a subiectului şi
          armonizarea comportamentelor la condiţiile mediului înconjurător.</p>
        </div>

       
        <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
            Demersul terapiei logopedice:
        </h1>
        <div class="indent-8 my-4 md:text-xl text-lg">
          <p>Pasul 1)</p>
          <p>Depistarea</p>
          <br>
          <p class="mx-8">La începutul fiecărui an şcolar, timp de o lună, profesorul logoped, se deplasează în
          fiecare unitate de învăţământ din circumscripţie, în fiecare clasă de elevi din ciclul primar şi
          grupă de preşcolari la grădiniţe, conform unei planificări. Pe parcursul acestei luni se desfăşoară
          actiunea de depistare a copiilor cu dificultăţi în sfera limbajului. Media anuală a copiilor cu
          dificultăţi de limbaj este de 80 – 100 copii în toată circumscripţia. De precizat că, la nivelul
          învăţământului preşcolar, prioritate au copiii care urmează a debuta şcolar în toamna imediat
          următoare, adică copiii de 5 ani.</p>
          <br>
          <p>Pasul 2)</p>
          <p>Evaluare iniţială – faza 1</p>
          <br>
          <p class="mx-8">Grupul copiilor depistaţi trece printr-o evaluare iniţială în vederea stabilirii dificultăţilor
          de limbaj dar şi în vederea selectării grupului de lucru. Se întocmesc fişe de depistare semnate de
          către profesorul clasei/grupei şi părinţii copiilor depistaţi în vederea acceptării primei faze a
          evaluării iniţiale.</p>
          <br>
          <p>Pasul 3)</p>
          <p>Grupul de lucru</p>
          <br>
          <p class="mx-8">Selectarea grupului de lucru, adică a copiilor care vor parcurge programul de intervenţie
          şi recuperare logopedică în cursul anul şcolar, se face în funcţie de gradul de afectare a
          limbajului, diagnostic, vârstă şi acord părinte. Astfel, după prima fază a evaluării iniţiale sunt
          selectaţi, din toată circumscripţia, un efectiv de maxim 40 elevi/preşcolari (aceasta este norma
          unui profesor logoped pe parcursul unui an şcolar). Se face şi o listă de aşteptare!</p>
          <br>
          <p>Pasul 4)</p>
          <p>Acorduri de colaborare profesor logoped – părinte. Evaluare iniţială – faza 2 – completare fişa logopedică</p>
          <br>
          <p class="mx-8">La acest moment, sunt trimise invitaţii către părinţii copiilor selectaţi, urmează întâlnirile
          dintre părinţi şi profesorul logoped pentru a semna acordurile de colaborare, a încheia faza
          evaluării iniţiale şi completarea fişei logopedice. De regula, acest pas, se desfăşoară după
          încheierea primei luni din anul şcolar, după depistări, mai exact în a V - VI a săptămână de
          şcoală. Acest pas este unul dintre cele mai importante în demersul terapeutic, practic, la acest
          moment se formează echipa terapeutică: profesor logoped – copil – părinte.</p>
          <br>
          <p>Pasul 5)</p>
          <p>Elaborarea orarului şi formarea grupelor de intervenţie</p>
          <br>
          <p class="mx-8">Elaborarea orarului se desfăşoară în colaborare cu profesorul de la clasă şi cu acordul
          părintelui.
          În anul şcolar 2023 – 2024 distribuţia orelor de intervenţie logopedică este următoarea:
          - 11 ore/săptămână sunt alocate Colegiului Naţional Bănăţean;
          - 3 ore/săptămână sunt alocate Grădiniţei cu Program prelungit Nr 14;

          - 2 ore/săptămână sunt alocate Grădiniţei cu Program prelungit Nr 31 (substructură a
          Grădiniţei cu Program prelungit Nr 23).
          Formarea grupelor de interveţie se face în funcţie de diagnostic, apartenenţa la
          clasă/grupă/unitate de învăţământ şi orarul şcolar. Vor rezulta deci, 16 grupe de intervenţie cu un
          efectiv de 1 – 4/5 copii în funcţie de nivelul dificultăţilor de limbaj şi diagnostic. Numărul
          maxim de copii care parcurg programul de intervenţie logopedică până la finalul anului şcolar ar
          trebui să fie de 40 elevi/preşcolari.</p>
          <br>
          <p>Pasul 6)</p>
          <p>Programul de interveţie şi recuperare logopedică</p>
          <br>
          <p class="mx-8">Va începe după a VI a săptămână de şcoală, în a doua jumătate a lunii octombrie, cu o
          frecvenţă de 1 şedinţă pe săptămână, conform unui plan de recuperare conceput pentru fiecare
          copil şi grupă de interveţie şi se va desfăşura până aproape de sfârşitul anului şcolar.
          La finalul fiecărei şedinţe, copiii vor avea teme de efectuat acasă, astfel, faza de
          corectare/recuperare începută în cabinetul logopedic va fi consolidată în mediul familiei. Pentru
          a obţine rezultatele cele mai bune şi pentru a scurta timpul de recuperare, continuarea jocurilor
          logopedice acasă este mai mult decât necesară.
          La finalul celui de al doilea modul sau al treilea modul din structura anului şcolar, se face
          o evaluare pe parcurs în vederea înregistrării progreselor şi reconfigurării (dacă este necesar) a
          strategiei de intervenţie aplicată în continuare. La acest moment unii copii (cu dificultăţi mai
          uşoare) pot încheia programul de recuperare, pot fi reconfigurate grupele de intervenţie în
          funcţie de evoluţia copiilor, pot intra în program alţi copii din lista de aşteptare, etc.</p>
          <br>
          <p>Pasul 7)</p>
          <p>Evaluarea finală</p>
          <br>
          <p class="mx-8">Se desfăşoară în ultima săptămână din anul şcolar, evaluarea finală ia conturul unui
          calificativ global pentru progresul întregului an şcolar a elevilor/prescolarilor aflaţi in intervenţie
          logopedică. La acest moment se stabileşte dacă parcursul terapiei logopedice este finalizat de
          fiecare copil sau, continuă în anul şcolar următor. Practic, programul de intervenţie şi recuperare
          logopedică, se desfăşoară pe o perioadă nedeterminată, până la recuperarea fiecărui copil sub
          aspectul limbajului şi comunicării.</p>
        </div>

        <div class="grid grid-cols-2 mt-10 gap-10">
          <div class="border-2 border-zinc-400 rounded-3xl min-h-[10vh]">
            <h1
              class="font-noto md:text-3xl text-2xl text-[#762424] flex justify-center"
            >
              Date personale
            </h1>
            <div class="indent-4 my-4 md:text-lg text-base mx-3">
              <p>-Profesor logoped titular în CLI-CNB:</p>
              <p>-Psiholog Mirela Viziteu, absolventă a  Facultăţii de Sociologie şi Psihologie - UVT;</p>
              <p>-Master în terapia tulburărilor de limbaj şi  audiologie educaţională – TLA – UBB;</p>
              <p>-Vechime în învăţământ: 28 ani din care, vechime în cabinet logopedic 24 ani.</p>
            </div>
          </div>
          <div class="border-2 border-zinc-400 rounded-3xl min-h-[10vh]">
            <h1
              class="font-noto md:text-3xl text-2xl text-[#762424] flex justify-center"
            >
              Date de contact
            </h1>
            <div class="indent-4 my-4 md:text-lg text-base mx-3">
              <br>
              <a href="tel:0721-770-448" class="hover:text-[#282C35]"><p>Telefon: 0721 770 448</p></a>
              <p>Email: </p>
              <p>-mirelavzt@gmail.com</p>
              <p>-viziteumirela@colegiulbanatean.ro</p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
