{% extends 'base.html' %}

{%block title%}
<title>Activități extrașcolare</title>
{%endblock title%}


{% block content %}

    <div class="grid min-h-[80vh] grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 w-[95vw] gap-5 font-roboto pt-20 px-8 md:px-0 m-auto font-medium text-lg items-center pb-4">
        <a href="./Heavenly Hell.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-contain bg-no-repeat duration-500" style="background-image:url(./assets/HH/logo\ hh.png)">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Trupa de teatru Heavenly Hell</div>
        </a>
        <a href="./Atlas.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-cover bg-no-repeat duration-500" style="background-image:url(./assets/Atlas/logo3.jpeg)">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Echipa de robotică Atlas</div>
        </a>
        <a href="./Zenith.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-cover bg-no-repeat duration-500" style="background-image:url(./assets/scan0004.jpg);">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Clubul de dezbateri Zenith</div>
        </a>
        <a href="./template proiecte.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-cover bg-no-repeat duration-500" style="background-image:url(./assets/scan0006.jpg);">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Activitate 4</div>
        </a>
    </div>

{% endblock content %}
