{% extends 'base.html' %}

{%block title%}
<title>{{main.nume}}</title>
{%endblock title%}


{% block content %}

<div class="bg-[#F4F4F9] font-roboto" style="overflow-x:hidden;">
  <div class="bg-cover bg-center bg-no-repeat pt-20 -z-10 h-64" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/colegiul_banatean.jpg)"> </div>
  <div class="w-[100vw] min-h-[50vh] bg-[#F4F4F9] text-base py-8 -z-5">
      <h1 class="font-noto text-3xl font-semibold text-[#123] pt-3 pb-7 text-center">{{main.nume}}</h1>
      <div class="w-[100vw] flex justify-center">
          <div class="grid w-[90vw] grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">   
              <div class="flex flex-col items-center border-2 border-zinc-400 rounded-3xl p-2">
                  <h2 class="font-noto font-semibold text-[#762424] text-lg pt-3 pb-2">Program de lucru cu publicul</h2>
                  <p>Luni-Vineri: {{main.program}}</p>
              </div>
              <div class="flex flex-col items-center border-2 border-zinc-400 rounded-3xl p-2">
                  <h2 class="font-noto font-semibold text-[#762424] text-lg pt-3 pb-2">Componență administrativ</h2>
                  {% for pers in personal %}
                  <p>{{pers.functie}} {{pers.nume}}</p>
                  {% endfor %}
              </div>
              <div class="flex flex-col lg:col-span-1 md:col-span-2 col-span-1 items-center border-2 border-zinc-400 rounded-3xl p-2">
                  <h2 class="font-noto font-semibold text-[#762424] text-lg pt-3 pb-2">Persoane de contact</h2>
                  {% for pers in contact %}
                  <p>{{pers.nume}} {{pers.telefon}}</p>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
